<div class="col-4 d-none d-lg-block">
  <div
    class="card mb-3 mt-3"
    style="
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      border-color: rgba(255, 255, 255, 0);
      background-color: rgba(225, 225, 225, 0.472);
      max-width: 18rem;
    "
  >
    <div class="card-body">
      <h4 class="mb-3" style="font-size: 1.4rem">What´s happening</h4>
      <div class="p-1">
        <span
          style="color: #647788; font-size: 0.7rem; font-family: Arial, Helvetica, sans-serif"
          class="card-text"
          >Programming · Trending</span
        >
        <h5 class="card-title" style="font-size: 1rem; padding-bottom: 0; margin-bottom: 0">
          #MongoVsSequelize
        </h5>
        <span
          style="
            color: #647788;
            font-size: 0.7rem;
            padding-top: 0;
            margin-top: 0;
            font-family: Arial, Helvetica, sans-serif;
          "
          class="card-text"
          >97.5K Tweets</span
        >
      </div>
      <div class="p-1">
        <span
          style="color: #647788; font-size: 0.7rem; font-family: Arial, Helvetica, sans-serif"
          class="card-text"
          >Entertainment · Trending</span
        >
        <h5 class="card-title" style="font-size: 1rem; padding-bottom: 0; margin-bottom: 0">
          #StarWars
        </h5>
        <span
          style="
            color: #647788;
            font-size: 0.7rem;
            padding-top: 0;
            margin-top: 0;
            font-family: Arial, Helvetica, sans-serif;
          "
          class="card-text"
          >97.5K Tweets</span
        >
      </div>
      <div class="p-1">
        <span
          style="color: #647788; font-size: 0.7rem; font-family: Arial, Helvetica, sans-serif"
          class="card-text"
          >News · Trending</span
        >
        <h5 class="card-title" style="font-size: 1rem; padding-bottom: 0; margin-bottom: 0">
          #LifeInMars
        </h5>
        <span
          style="
            color: #647788;
            font-size: 0.7rem;
            padding-top: 0;
            margin-top: 0;
            font-family: Arial, Helvetica, sans-serif;
          "
          class="card-text"
          >97.5K Tweets</span
        >
      </div>
    </div>
  </div>
  <div
    class="card mb-3 mt-3"
    style="
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      border-color: rgba(255, 255, 255, 0);
      background-color: rgba(225, 225, 225, 0.472);
      max-width: 18rem;
    "
  >
    <div class="card-body">
      <h4 class="mb-3" style="font-size: 1.4rem">Who to follow</h4>
      <div class="p-1">
        <% for (let userRandom of usersRandom) {%>
        <div class="d-flex">
          <img
            class="me-3 mt-auto mb-auto"
            src="/img/<%=userRandom.image%>"
            style="width: 30px; height: 30px; border-radius: 100%"
            alt=""
          />
          <div>
            <h6
            style="font-size: 1rem; padding-bottom: 0; margin-bottom: 0">
              <%=userRandom.firstname + " " + userRandom.lastname%>
            </h6>
            <smal style="
            color: #647788;
            font-size: 0.7rem;
            padding-top: 0;
            margin-top: 0;
            font-family: Arial, Helvetica, sans-serif; 
          "l>@<%=userRandom.username%></small>
          </div><span class= "ms-auto mt-auto mb-auto">
            <a href="/usuarios/follows/add/<%=userRandom.id%>"
              class="btn rounded-pill" style="color: white; background-color: #1da1f2">
              Follow
            </a>
          </span>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</div>
